body {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-weight: 500;
}

main {
  min-height: calc(100vh - 112px);
}

.wrapper-main {
  max-width: 720px;
}

.num {
  width: 4rem;
}

.br {
  white-space: pre-wrap;
  word-wrap: break-word;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="number"] { 
  -moz-appearance:textfield; 
}

@media screen and (min-width: 992px) {
  .inquiry {
    width: 50%!important;
  }
}