<ul>
  <li>Yahoo! JAPAN ID/Yahoo!ウォレット決済が必要</li>
  <li>縦14cm横9cm以上の下限あり</li>
  <li>郵便受けへお届け</li>
</ul>
<h2 class="border-start border-4 border-danger ps-2 my-4">参考サイト</h2>
<div class="d-flex flex-column">
  <a href="https://www.post.japanpost.jp/service/clickpost/">クリックポスト | 日本郵便株式会社</a>
  <a href="https://www.mercari.com/jp/help_center/article/74/">クリックポスト - メルカリ スマホでかんたん フリマアプリ</a>
</div>