<div class="py-4">
  <p class="br">お名前: <%= @name %></p>
  <p class="br">メール: <%= @email %></p>
  <p class="br">件名: <%= @subject %></p>
  <p class="br">本文:<br><%= @message %></p>
  <div class="text-center">
    <form action="/send" method="post">
      <input class="btn btn-secondary px-5 my-2" type="submit" value="送信">
    </form>
  <div>
</div>