<div class=container>
  <h1>検索</h1>
  <form action="/result" method="post">
    <label>縦</label>
    <input type="number" name="vertical">cm
    <label>横</label>
    <input type="number" name="side">cm
    <label>厚さ</label>
    <input type="number" name="thickness">cm
    <label>重量</label>
    <input type="number" name="weight">g
    <input class="btn btn-primary" type="submit" value="検索">
  </form>
<div>