<h1>検索</h1>
<form action="/result" method="post" name="form">
  <label>長辺</label>
  <input type="number" name="long-side">
  <label>短辺</label>
  <input type="number" name="short-side">
  <label>厚さ</label>
  <input type="number" name="thickness">
  <label>重量</label>
  <input type="number" name="weight">
  <input type="submit" value="検索">
</form>