<div class="py-4">
  <form action="/result" method="post">
    <label>縦:</label>
    <input type="number" step="0.1" name="vertical">cm
    <label>横:</label>
    <input type="number" step="0.1" name="side">cm
    <label>厚さ:</label>
    <input type="number" step="0.1" name="thickness">cm
    <label>重量:</label>
    <input type="number" step="0.1" name="weight">g
    <input class="btn btn-secondary" type="submit" value="検索">
  </form>
<div>