<h1>検索</h1>
<form action="/result" method="post">
  <label>縦</label>
  <input class="cm" type="number" name="vertical">cm
  <label>横</label>
  <input class="cm" type="number" name="side">cm
  <label>厚さ</label>
  <input class="cm" type="number" name="thickness">cm
  <label>重量</label>
  <input class="g" type="number" name="weight">g
  <input class="box" type="submit" value="検索">
</form>