<h1>検索</h1>
<form action="/result" method="post">
  <label>長辺</label>
  <input class="cm" type="number" name="longside">cm
  <label>短辺</label>
  <input class="cm" type="number" name="shortside">cm
  <label>厚さ</label>
  <input class="cm" type="number" name="thickness">cm
  <label>重量</label>
  <input class="g" type="number" name="weight">g
  <input class="box" type="submit" value="検索">
</form>