<div class="py-5">
  <form action="/confirm" method="post">
    <label>お名前:</label>
    <input type="text" name="name">
    <label>メールアドレス:</label>
    <input type="email" name="email">
    <label>件名:</label>
    <input type="text" name="subject">
    <label>本文:</label>
    <textarea rows="5" name="message"></textarea>
    <input class="btn btn-primary" type="submit" value="送信">
  </form>
<div>