<div class="py-4">
  <form class="d-flex flex-column align-items-center" action="/confirm" method="post">
    <div class="w-50">
      <div>お名前</div>
      <input class="my-2 w-100" type="text" name="name">
    </div>
    <div class="w-50">
      <div>メールアドレス</div>
      <input class="my-2 w-100" type="email" name="email">
    </div>
    <div class="w-50">
      <div>件名</div>
      <input class="my-2 w-100" type="text" name="subject">
    </div>
    <div class="w-50">
      <div>本文</div>
      <textarea class="my-2 w-100" rows="3" name="message"></textarea>
    </div>
    <div class="w-50 text-center">
      <input class="btn btn-secondary my-2" type="submit" value="確認画面へ">
    </div>
  </form>
</div>