<ul>
  <li>専用封筒(レターパック)が必要</li>
  <li>レターパックは郵便窓口やコンビニで購入可能</li>
  <li>郵便受けへお届け</li>
</ul>
<h2 class="border-start border-4 border-danger ps-2 my-4">参考サイト</h2>
<div class="d-flex flex-column">
  <a href="https://www.post.japanpost.jp/service/letterpack/index.html">レターパック | 日本郵便株式会社</a>
  <a href="https://www.mercari.com/jp/help_center/article/72/">レターパック - メルカリ スマホでかんたん フリマアプリ</a>
</div>