<%= linkBlank("https://www.shop.post.japanpost.jp/shop/g/gKT43020/", "梱包材を郵便局のネットショップで見る") %>
<h2 class="border-start border-4 border-danger ps-2 my-4">備考</h2>
<ul>
  <li>専用封筒(スマートレター)が必要</li>
  <li>スマートレターは郵便窓口やコンビニで購入可能</li>
  <li>郵便受けへお届け</li>
</ul>
<h2 class="border-start border-4 border-danger ps-2 my-4">参考サイト</h2>
<a href="https://www.post.japanpost.jp/service/smartletter/" target="_blank" rel="noopener noreferrer">スマートレター - 日本郵便</a>