<ul>
  <li>長辺34cm3辺合計60cm以内</li>
  <li>郵便受けへお届け</li>
</ul>
<h2 class="border-start border-4 border-danger ps-2 my-4">参考サイト</h2>
<div class="d-flex flex-column">
  <a href="https://www.mercari.com/jp/yuyu-mercari/" target="_blank" rel="noopener noreferrer">ゆうゆうメルカリ便 - メルカリ スマホでかんたん フリマアプリ</a>
  <a href="https://www.mercari.com/jp/help_center/article/176/" target="_blank" rel="noopener noreferrer">小型サイズ（A4）- ゆうパケット（ゆうゆうメルカリ便） - メルカリ スマホでかんたん フリマアプリ</a>
</div>